<div class="jumbotron">
    <div class="header">
        <span class="title">NET - Claro</span>
    </div>
    <div class="body container-fluid">
        <div class="row">
            <span>CPF</span>
            <input type="text" class="form-control">
        </div>
        <div class="row">
            <span>Contrato</span>
            <input type="text" class="form-control">
        </div>
        <div class="row">
            <span>OSs</span>
            <input type="text" class="form-control">
        </div>
        <div class="row">
            <span>CA_ID*</span>
            <input type="text" class="form-control">
        </div>
        <div class="row">
            <span>SMART CARD*</span>
            <input type="text" class="form-control">
        </div>
        <div class="row">
            <span>Cidade</span>
            <input type="text" class="form-control">
        </div>
        <div>
            <span>*Obrigatório</span>
        </div>
    </div>
    <div class="footer float-right">
        <button class="btn btn-secondary">Cancelar</button>
        <button class="btn btn-primary">Enviar</button>
    </div>
</div>