.jumbotron {
    width: 500px;
    height: 580px;
    margin: 30px auto;
    padding: 20px;
}

.header {
    text-align: center;
    min-height: 100px;
}

.logo {
    width: 220px;
}

.btn {
    outline: none;
    box-shadow: none;
}

.btn-primary:enabled {
    background-color: #00a1e5;
    border-color: #00a1e5;
}

.btn-secondary {
    margin-right: 10px;
}

.form-control {
    outline: none;
    box-shadow: none;
}

.spinner-overlay {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: 0.6;
    z-index: 1000;
}

.small {
    margin-top: 5px;
    margin-bottom: 5px;
}

.divider {
    border-bottom: 1px solid #c4c8ce;
    margin-top: 5px;
    margin-bottom: 15px;
}

::ng-deep .mat-progress-spinner circle, .mat-spinner circle {
    stroke: #00a1e5 !important;
}
