<div class="spinner-overlay" *ngIf="baixandoOs">
    <mat-spinner style="margin: 20% auto"></mat-spinner>
</div>

<form [formGroup]="form" (submit)="baixarOs($event)">
<div class="jumbotron">
    <div class="header">
        <img class="logo" src="../../../assets/net_claro_transparent.png">
    </div>
    <div class="body container-fluid">
        <div class="row">
            <span>CPF</span>
            <input name="cpf" formControlName="cpf" type="text" class="form-control">
        </div>
        <div class="row">
            <span>Contrato</span>
            <input name="contrato" formControlName="contrato" type="text" class="form-control">
        </div>
        <div class="row">
            <span>OSs</span>
            <input name="oss" formControlName="oss" type="text" class="form-control">
        </div>
        <div class="row">
            <span>CA_ID*</span>
            <input name="caId" formControlName="caId" type="text" class="form-control">
        </div>
        <div class="row">
            <span>SMART CARD*</span>
            <input name="smartCard" formControlName="smartCard" type="text" class="form-control">
        </div>
        <div class="row">
            <span>Cidade</span>
            <input name="cidade" formControlName="cidade" type="text" class="form-control">
        </div>
        <div>
            <span>*Obrigatório</span>
        </div>
    </div>
    <div class="footer float-right">
        <button type="button" class="btn btn-secondary" (click)="inicializarForm()">Limpar</button>
        <button type="submit" class="btn btn-primary" [disabled]="form.status === 'INVALID'">Enviar</button>
    </div>
</div>
</form>